@charset "utf-8";

/**
 * IE Mobile fix
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport { width: device-width; }
@-o-viewport  { width: device-width; }
@viewport     { width: device-width; }


/* ==========================================================================
   Typography
   ========================================================================== */

/* PF Din Text Condensed Pro Medium */
@font-face {
    font-family: "PF Din Text Condensed Pro";
    src: url("../fonts/subset-PFDinTextCondPro-Medium.eot");
    src: url("../fonts/subset-PFDinTextCondPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/subset-PFDinTextCondPro-Medium.woff2") format("woff2"),
        url("../fonts/subset-PFDinTextCondPro-Medium.woff") format("woff"),
        url("../fonts/subset-PFDinTextCondPro-Medium.ttf") format("truetype"),
        url("../fonts/subset-PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font: 15px/1.2 "Roboto", BlinkMacSystemFont, -apple-system, “Segoe UI”, Helvetica, Arial, sans-serif;
    color: #333;
}

/**
 * Title for level 1
 */
.title-h1 {
    font-family: "PF Din Text Condensed Pro", BlinkMacSystemFont, -apple-system, “Segoe UI”, Helvetica, Arial, sans-serif;
    font-size: 64px;
    font-weight: 500;
}

/**
 * Title for level 2
 */
.title-h2 {
    font-family: "Roboto Condensed", BlinkMacSystemFont, -apple-system, “Segoe UI”, Helvetica, Arial, sans-serif;
    font-size: 44px;
    font-weight: normal;
}

/**
 * Title for level 3
 */
.title-h3 {
    font-family: "Roboto Condensed", BlinkMacSystemFont, -apple-system, “Segoe UI”, Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: normal;
}

.text-muted {
    color: #878787a;
}

/**
 * Buttons
 */
.btn {
    padding: 8px 18px 7px;
    font-size: 15px;
    line-height: 1;
    border-radius: 2px;
    border-color: transparent;
}

.btn-lg {
    padding: 18px 34px;
    font-size: 18px;
}

.btn-default {
    color: #666;
    background-color: #efefef;
}

.btn-link,
.btn-link:hover {
    color: #3ea8de;
}

.btn-primary {
    background-color: #3ea8de;
    border: 0;
}

    .btn-primary:hover {
        background-color: #4cb2e5;
    }

    .btn-primary:active,
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .open > .dropdown-toggle.btn-primary:hover,
    .btn-primary:active:focus,
    .btn-primary.active:focus,
    .open > .dropdown-toggle.btn-primary:focus,
    .btn-primary:active.focus,
    .btn-primary.active.focus,
    .open > .dropdown-toggle.btn-primary.focus {
        background-color: #3289c3;
        -webkit-box-shadow: none;
                box-shadow: none;
    }


/**
 * Checkbox
 */
.checkbox {
    position: relative;
    display: inline-block;
}

    .checkbox-input {
        position: absolute;
        top: 0;
        ltie10
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .checkbox-icon {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 2px;
    }

        .checkbox-icon:before {
            content: "";
            position: absolute;
            bottom: 6px;
            left: 0;
            right: 0;
            margin: auto;
            width: 5px;
            height: 9px;
            border: 2px solid #3ea8de;
            border-width: 0 2px 2px 0;
            transform: scale(0) rotate(45deg);
            transition: 0.2s;
        }

    .checkbox-input:checked + .checkbox-icon:before {
        -webkit-transform: scale(1) rotate(45deg);
             -mstransform: scale(1) rotate(45deg);
                transform: scale(1) rotate(45deg);
    }

/**
 * Forms and fields
 */
.form-control {
    height: 40px;
    border-radius: 3px;
}

.form-group {
    margin-bottom: 23px;
}

    .form-group label {
        margin-bottom: 8px;
        font-weight: normal;
        color: #999;
    }

/**
 * input wrapper for password
 */
.reveal-field {
    position: relative;
}

    .reveal-field input[type="password"]::-ms-reveal {
        display: none;
    }

    .reveal-field-control {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 36px;
        margin: auto;
        border: 0;
        padding: 8px;
        font-size: 18px;
        color: #ccc;
        background: 0;
        transition: 0.2s;
    }

        .reveal-field-control:hover {
            color: #878787;
        }

        .reveal-field-control .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .reveal-field-control .off {
            display: none;
        }

        .reveal-field.off .icon.on {
            display: none;
        }
        .reveal-field.off .icon.off {
            display: block;
        }

/**
 * Animation for Bootstrap Tabs
 */
.tab-pane.active {
    animation: showTab 1s both;
}

    @keyframes showTab {
        from { opacity: 0; }
    }


/**
 * Main Centering Container
 */
.container {
    padding-left: 40px;
    padding-right: 40px;
}


/**
 * Logo
 */
.navbar-brand {
    height: auto;
    padding: 0;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width:  63px;
    height: 63px;
}


/**
 * Navbar
 */
.navbar {
    position: absolute;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    color: #fff;
}

    .navbar-fixed-top {
        position: fixed;
        animation: showHeader 0.5s ease-in-out both;
    }

    @keyframes showHeader {
        from { transform: translateY(-100%); }
    }

    .navbar-inverse {
        background-color: #2c2d33;
    }

    .navbar-inner {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

        .navbar-inverse .navbar-inner {
            border-bottom: 0;
        }

    @media (max-width: 767px) {
        .navbar-collapse {
            background-color: rgba(64, 67, 80, 0.9);
        }

        .navbar-inverse .navbar-collapse {
            background-color: transparent;
        }

        .container > .navbar-collapse {
            margin-left: -40px;
            margin-right: -40px;
        }
    }

.navbar-nav > li > a {
    padding: 24px 36px;
    line-height: 1;
    color: inherit;
    transition: 0.2s;
}

    @media (max-width: 1000px) {
        .navbar-nav > li > a {
            padding-left:  28px;
            padding-right: 28px;
        }
    }

    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .btn-link {
        color: inherit;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus,
    .navbar-inverse .navbar-nav > li > a:hover {
        border: 0;
        background: rgba(0, 0, 0, 0.2);
    }

.navbar-right {
    padding-top: 15px;
    padding-bottom: 14px;
}

.navbar-toggle {
    margin-top: 15px;
    border-radius: 0;
    background-color: #3ea8de;
    transition: background 0.2s;
}

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-toggle.collapsed {
        background: transparent;
    }

        .navbar-toggle.collapsed:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }


/**
 * Head Section
 */
.head-section {
    position: relative;
    min-height: 100vh;
    padding-top: 280px;
    padding-bottom: 168px;
    overflow: hidden;
    color: #fff;
    background: #45444d;
}

    .head-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        background: url("../img/bg-lg.jpg") no-repeat 50% 50%;
        -webkit-background-size: cover;
                background-size: cover;
    }

    .head-section:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(64,70,84,0.8);
        background: -moz-linear-gradient(top, rgba(64,70,84,0.8) 0%, rgba(64,70,84,0.4) 100%);
        background: -webkit-linear-gradient(top, rgba(64,70,84,0.8) 0%,rgba(64,70,84,0.4) 100%);
        background: linear-gradient(to bottom, rgba(64,70,84,0.8) 0%,rgba(64,70,84,0.4) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cc404654", endColorstr="#66404654",GradientType=0 );
    }

        .ie9 .head-section:after {
            filter: none;
        }

    .head-section .container {
        position: relative;
        z-index: 1;
    }

.product-desc {
    padding-top: 10px;
    font-size: 24px;
    line-height: 1.5;
    opacity: 0.8;
}

/**
 * Call to action block with button
 */
.cta-block {
    margin-top: 196px;
}

    .cta-block:before {
        content: "";
        margin: 0 auto 59px;
        display: block;
        width: 50px;
        height: 3px;
        background: #fff;
    }

@media (max-width: 1280px) {
    .head-section {
        padding-top: 200px;
        padding-bottom: 168px;
    }

    .cta-block {
        margin-top: 140px;
    }
}

@media (max-width: 992px) {
    .head-section .title-h1 {
        font-size: 58px;
    }

    .product-desc {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .head-section {
        padding-top: 200px;
        padding-bottom: 168px;
    }

    .cta-block {
        margin-top: 140px;
    }
}

@media (max-width: 680px) {
    .head-section {
        padding-top: 120px;
        padding-bottom: 20px;
    }

    .cta-block {
        margin-top: 90px;
    }
}

@media (max-width: 500px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

        .container > .navbar-header {
            margin-left: -20px;
        }

        .container > .navbar-collapse {
            margin-left:  -20px;
            margin-right: -20px;
        }

    .head-section {
        padding-top: 120px;
        padding-bottom: 20px;
    }

    .cta-block {
        margin-top: 40px;
    }

        .cta-block .btn {
            padding: 8px 18px 7px;
            font-size: 15px;
        }

    .head-section .title-h1 {
        font-size: 30px;
    }

    .product-desc {
        font-size: 16px;
    }
}

/**
 * Description Block
 */
.desc-section {
    padding: 60px 0;
}

    .desc-section .row {
        padding: 60px 0;
    }

.desc-item {}

    .desc-item .title-h2 {
        margin-top: 0;
    }

    .desc-item ul {
        margin: 0 0 24px;
        position: relative;
        padding: 0 0 42px;
        list-style-type: none;
        font-size: 16px;
    }

        .desc-item ul:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            margin-top: 40px;
            clear: both;
            display: block;
            width: 50px;
            height: 3px;
            background: #3ea8de;
        }
        .desc-item ul:after {
            content: "";
            display: table;
            clear: both;
        }

        .desc-item ul li {
            float: left;;
            margin-right: 24px;
        }

    .desc-item p {
        line-height: 1.6;
        color: #999;
    }

/**
 * Animations for description blocks
 */
.desc-item.scroll-hide,
.desc-image.scroll-hide {
    transform: scale(0.9);
    opacity: 0;
}

.desc-item.scroll-show,
.desc-image.scroll-show {
    transform: scale(1);
    opacity: 1;
}

.desc-item,
.desc-image {
    transition: 1s;
}



/**
 * Features section
 */
.features-section {
    padding: 63px 0;
    background: #f2f2f2;
}

.features-section .title-h1 {
    margin-bottom: 65px;
}

.features-tabs {
    margin-bottom: 35px;
    text-align: justify;
    text-justify: newspaper;
    font-size: 0;
    border-bottom-color: #e2e2e2;
}

    .features-tabs:after {
        content: "";
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        visibility: hidden;
        width: 100%;
        height: 0;
    }

    .features-tabs > li {
        margin-bottom: 0;
        float: none;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }

        .features-tabs > li > a {
            width: 174px;
            height: 96px;
            border: 0;
            padding: 52px 0 0;
            background: transparent;
            color: #666;
            font-size: 15px;
            transition: 0.2s;
        }

            .features-tabs > li > a:before,
            .features-tabs > li > a:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .features-tabs > li > a:before {
                top: auto;
                border-top: 3px solid transparent;
                transition: 0.2s;
            }

            .features-tabs > li.active > a,
            .features-tabs > li > a:hover,
            .features-tabs > li.active > a:hover,
            .features-tabs > li.active > a:focus {
                border: 0;
                background: transparent;
                color: #3ea8de;
            }

                .features-tabs > li.active > a:before {
                    border-top-color: #3ea8de;
                }

        .icon {
          display: inline-block;
          width: 1em;
          height: 1em;
          stroke-width: 0;
          stroke: currentColor;
          fill: currentColor;
        }

            .icon-revisions {
              width: 41px;
              height: 46px;
            }

            .icon-ak-indexes {
              width: 46px;
              height: 45px;
            }

            .icon-view-mode {
                width: 42px;
                height: 38px;
            }

            .icon-export {
                width: 39px;
                height: 38px;
            }

            .icon-even-more {
                width: 37px;
                height: 37px;
            }

        .features-tabs .icon {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
            pointer-events: none;
        }

.features-section .tab-content {
    line-height: 1.6;
}

.coming-features {
    padding-top: 40px;
    text-align: center;
}

    .coming-features .title-h2 {
        margin-bottom: 30px;
    }

    .coming-features ul {
        margin: 0 0 60px;
        padding: 0;
        list-style: none;
        font-size: 0;
    }

        .coming-features ul:after {
            content: "";
            margin: 54px auto 0;
            display: block;
            width: 50px;
            height: 3px;
            background: #3ea8de;
        }

        .coming-features li {
            padding: 0 24px;
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            color: #666;
        }

        .coming-features .img-wrap {
            position: relative;
            height: 43px;
            white-space: nowrap;
            font-size: 0;
        }

            .coming-features .img-wrap:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }

        .coming-features img {
            display: inline-block;
            vertical-align: middle;
            max-height: 100%;
        }


/**
 * Page footer
 */
.page-footer {
    font-size: 12px;
    color: #878787;
    background: #44444c;
}

    .page-footer .container {
        padding-top:    26px;
        padding-bottom: 58px;
        max-width: 940px;
    }

    .page-footer-title {
        margin: 0 0 21px;
        padding-top: 32px;
        font-size: 15px;
        font-weight: normal;
        color: #fff;
    }

    .page-footer-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .page-footer-list li {
        margin-bottom: 16px;
    }

    .page-footer-list a {
        color: inherit;
    }

    .page-footer .copy {
        margin-top: 74px;
        display: block;
        color: #666;
        font-size: inherit;
    }

/**
 * Layout Structure for page
 */
html,
body {
    height: 100%;
}

.page-wrapper {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

    .page-wrapper .page-footer {
        display: table-row;
        height: 1px;
    }

/**
 * Social Links
 */
.social-list {
    font-size: 0;
}

    .social-list li {
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
    }

    .social-list a {
        position: relative;
        display: block;
        overflow: hidden;
        font-size: 16px;
        width:  1em;
        height: 1em;
        color: #fff;
        opacity: 0.2;
        transition: 0.2s;
    }

        .social-list a:hover {
            opacity: 0.9;
        }

        .social-list .icon {
            vertical-align: top;
        }

/**
 * auth-block
 */
.auth-block {
    color: #fff;
    background-color: #5b5c64;
}

    .auth-block-inner {
        max-width: 864px;
        min-height: 100%;
        height: 100%;
        display: table;
        border-collapse: separate;
        border-spacing: 0;
    }

        .auth-block-inner:before,
        .auth-block-inner:after {
            content: none;
        }

    .auth-header {
        display: table-row;
        height: 1px;
        /*margin-bottom: 149px;*/
    }

    .auth-close {
        position: relative;
        width: 63px;
        height: 63px;
        border: 0;
        background: 0;
        transition: 0.2s;
    }

        .auth-close:before,
        .auth-close:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 24px;
            height: 2px;
            background: #fff;
        }

        .auth-close:before {
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
        }

        .auth-close:after {
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }

        .auth-close:hover,
        .auth-close:focus {
            background: rgba(0, 0, 0, 0.2);
        }

    .auth-body {
       display: table-cell;
       vertical-align: middle;
    }

        .auth-body-wrap {
            margin-left: auto;
            margin-right: auto;
            max-width: 414px;
        }

    .auth-title {
        margin: 0 0 48px;
        text-align: center;
        font: normal 56px/1 "Roboto Condensed", BlinkMacSystemFont, -apple-system, “Segoe UI”, Helvetica, Arial, sans-serif;
    }

    .submit-block {
        margin-top: 40px;
    }

        .submit-block:before {
            content: "";
            margin: 0 auto 40px;
            display: block;
            width: 50px;
            height: 3px;
            background: #3ea8de;
        }

    .auth-block .form-control {
        margin-bottom: 13px;
    }

    .auth-block input[type="email"],
    .auth-block input[type="password"] {
        padding-left: 36px;
        background-repeat: no-repeat;
        background-position: 13px 50%;
        -webkit-background-size: 14px 14px;
        background-size: 14px 14px;
    }

        .auth-block input[type="email"] {
            background-image: url("../img/email.svg");
        }

        .auth-block input[type="password"] {
            background-image: url("../img/lock.svg");
        }

    .auth-block a {
        color: #999;
    }

    /**
     * Select control block
     */
    .field-control {
        margin-top: 13px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

        .field-control-label {
            margin-bottom: 8px;
            display: block;
            font-weight: normal;
            color: #999;
        }

        .field-control .form-control {
            color: #999;
        }

    .agree-block {
        padding-top: 10px;
        color: #999;
    }

        .agree-block > * {
            vertical-align: middle;
        }

        .agree-block label {
            margin: 0;
            font-weight: normal;
            cursor: pointer;
        }

        label.agree-block-text {
            margin-left: 5px;
        }

        .agree-block a {
            color: #3ea8de;
        }

    .auth-social {}

        .auth-social-label {
            padding: 23px 0 25px;
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
            color: #999;
        }

            .auth-social-label:before,
            .auth-social-label:after {
                content: "";
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                border-top: 1px solid;
                opacity: 0.2;
            }

            .auth-social-label:before {
                margin-left: -100%;
                right: 14px;
            }

            .auth-social-label:after {
                margin-right: -100%;
                left: 14px;
            }

        .auth-social-links {
            margin: 0 -5px;
            overflow: hidden;
        }

            .auth-social-cell {
                float: left;
                width: 33.3333%;
                padding: 0 5px;
            }

                .auth-social-cell .btn {
                    display: block;
                    padding: 13px 18px 12px;
                    text-align: center;
                    color: #fff;
                    transition: 0.2s;
                }

                .auth-social-cell .gl {
                    background-color: #e54848;
                }

                    .auth-social-cell .gl:hover {
                        background-color: #f25353;
                    }

                    .auth-social-cell .gl:active {
                        background-color: #d63a3a;
                    }

                .auth-social-cell .fb {
                    background-color: #4b7bc6;
                }

                    .auth-social-cell .fb:hover {
                        background-color: #5286d1;
                    }

                    .auth-social-cell .fb:active {
                        background-color: #3867b2;
                    }

     .auth-foot {
        display: table-row;
        height: 1px;
        color: #999;
    }

        .auth-foot-inner {
            padding: 30px 0;
            text-align: center;
        }

        .auth-foot a {
            margin: 0 5px;
            color: #3ea8de;
        }


/*  Account pages
   ========================================================================== */

.account-page {
    padding-top: 63px;
}

    .account-page .navbar {
        animation: none;
    }

/**
 * User menu in header
 */
.user-block {
    position: relative;
}

    .user-avatar {
        position: relative;
        font-size: 32px;
        width:  1em;
        height: 1em;
        overflow: hidden;
        border-radius: 2px;
        cursor: pointer;
        background: none no-repeat 50% 50% rgba(255, 255, 255, 0.2);
        -webkit-background-size: cover;
                background-size: cover;
        transition: 0.2s;
    }

        .user-avatar:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        .user-avatar .icon {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            font-size: 0.75em;
            pointer-events: none;
        }

        .user-avatar:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            background-color: transparent;
        }

    .user-profile {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 6px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        overflow: hidden;
        padding: 26px 24px 0 30px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        background: #3c3c44;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        transition: .4s;
    }

        .user-profile-avatar {
            float: left;
            font-size: 80px;
            pointer-events: none;
        }

        .user-profile-data {
            margin-left: 96px;
            display: block;
            width: auto;
            overflow: hidden;
        }

            .user-profile-name {
                margin: 0 0 4px;
                padding: 0;
                font-weight: normal;
            }

            .user-profile-email {
                margin-bottom: 13px;
                display: block;
                opacity: 0.4;
                font-size: 12px;
            }

            .user-profile-footer {
                margin-top: 17px;
                padding: 10px 0;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }

                .user-profile-footer .btn-link {
                    margin-left: -18px;
                }

    .user-block.open {}

        .user-block.open > .user-avatar {
            background-color: #3ea8de;
        }

        .user-block.open .user-profile {
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
        }

.page-content {
    padding-top: 40px;
}

    .page-content-title {
        margin: 0 0 40px;
    }

    .account-page .page-content a {
        color: #3ea8de;
    }

.page-content-inner {
    padding-right: 64px;
}

.side-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .side-nav li {
        margin-bottom: 16px;
    }

    .side-nav .active a {
        color: inherit;
        pointer-events: none;
    }

.account-settings-form {
    margin-bottom: 33px;
}

    .account-settings-form .btn {
        min-width: 160px;
        border-radius: 3px;
    }

.account-delete-info {
    padding: 14px 0;
}

    .account-delete-info a {
        margin-bottom: 6px;
        display: inline-block;
        vertical-align: top;
    }

.account-avatar-form {
    margin-top: 26px;
    overflow: hidden;
}

    .account-avatar-form-btns {
        display: table;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

        .account-avatar-form-btns > * {
            display: table-cell;
        }

            .account-avatar-form-btns > *:last-child {
                padding-left: 10px;
            }

        .account-avatar-form-btns .btn {
            width: 100%;
        }

.account-avatar {
    margin-bottom: 10px;
    position: relative;
    display: block;
    background-color: #efefef;
    color: #d3d3d3;
    cursor: pointer;
    transition: 0.2s;
}

    .account-avatar:hover {
        color: #878787;
        background-color: #d3d3d3;
    }

    .account-avatar-placeholder {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -53px 0 0 -53px;
        width:  106px;
        height: 106px;
    }

    .account-avatar:before {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .account-avatar input {
        opacity: 0;
        filter: alpha(opacity="0");
    }

    .account-avatar input,
    .account-avatar img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .account-avatar img {
        object-fit: cover;
        object-position: 50% 50%;
    }

.account-groups {
    margin-top: -7px;
}

.account-group {
    margin-bottom: 22px;
    padding-bottom: 8px;
    border-bottom: 1px solid #efefef;
}

    .account-group:last-of-type {
        margin-bottom: 45px;
        border-bottom: 0;
    }

    .account-group-label {
        margin-bottom: 10px;
        display: block;
        font-weight: normal;
        color: #999;

    }

.account-login {
    margin-bottom: 14px;
    display: table;
    width: 100%;
    border-collapse: collapse;
}

    .account-login-text,
    .account-login-controls {
        display: table-cell;
        vertical-align: middle;
    }

    .account-login-text {
        width: 100%;
    }

    .account-login-controls .btn {
        min-width: 0;
    }
